{% extends 'layout.html' %}

{% block body %}
<!-- banner -->
<section class="banner_w3lspvt" id="home">
	<div class="csslider infinity" id="slider1">
	
				<div class="banner-top">
					<div class="overlay">
						<div class="container">
							<div class="w3layouts-banner-info text-center">
								<h3 class="text-wh">Fertilizer Recommendation System</h3>
								<h4 class="text-wh mx-auto my-4"><b><strong>PNT2022TMID26444</strong></b></h4>
								<br>
								<h4 class="text-wh mx-auto my-4"><strong> </strong></h4>
								<p class="text-li mx-auto mt-2">
									1. Sri Suraj S R <br>I 
									2. Siva Kumar P<br>
									3. Sundareswar M<br>
									4. Srinesh R</p>
							</div>
						</div>
					</div>
				</div>
	</div>
</section>
<!-- //banner -->

<!-- core values -->
<section class="core-value py-5">
	<div class="container py-md-4">
		<h3 class="heading mb-sm-5 mb-4 text-center"> About Us</h3>
		<div class="row core-grids">
			<div class="col-lg-6 core-left">
				<img src="{{ url_for('static', filename='images/core.jpg') }}" class="img-fluid" alt="" />
			</div>
			<div class="col-lg-6 core-right">
				<h3 class="mt-4">Improving Agriculture, Improving Lives, Cultivating Crops To Make Farmers Increase
					Profit.</h3>
				<p class="mt-3">Agriculture is the most important sector in today’s life. Most plants are affected by a wide variety of bacterial and fungal diseases. Diseases on plants placed a major constraint on the production and a major threat to food security. Hence, early and accurate identification of plant diseases is essential to ensure high quantity and best quality. In recent years, the number of diseases on plants and the degree of harm caused has increased due to the variation in pathogen varieties, changes in cultivation methods, and inadequate plant protection techniques. 

					An automated system is introduced to identify different diseases on plants by checking the symptoms shown on the leaves of the plant. Deep learning techniques are used to identify the diseases and suggest the precautions that can be taken for those diseases</p>
			</div>
		</div>
	</div>
</section>
<!-- //core values -->

<!-- Products & Services -->
<section class="blog py-5">
	<div class="container py-md-5">
		<h3 class="heading mb-sm-5 mb-4 text-center"> Our Services</h3>
		<div class="ro blog-grids">
			<div class="col-lg-4 col-md-6 blog-left mb-lg-0 mb-sm-5 pb-lg-0 pb-5">
				
				<a href="">
			
					<div class="blog-info">

						<h4></h4>

						<p class="mt-2"> </p>
					</div>
				</a>
			</div>
		


				
			<div class="col-lg-4 col-md-6 blog-middle mb-lg-0 mb-sm-5 pb-lg-0 pb-md-5">
				
				<a href="{{ url_for('fertilizer_recommendation') }}">
					<div class="blog-info">
						<h4></h4>
						
					</div>
				</a>
			</div>
			<div class="col-lg-4 col-md-6 blog-right mt-lg-0 mt-5 pt-lg-0 pt-md-5">

				<centre><img src="{{ url_for('static', filename='images/s4.jpg') }}" class="img-fluid" alt=""></centre>

				<!-- <img src="images/s4.jpg" class="img-fliud" alt="" /> -->
				<a href="{{ url_for('disease_prediction') }}">
					<div class="blog-info">
						<h4>Crop Disease Prediction</h4>
						<p class="mt-2">Predicting the name and causes of crop disease and suggestions to cure it</p>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>
<!-- //Products & Services -->


<!-- Creating custom grid and hover effect
<section>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <img class="img-responsive" src="images/s2.jpg" alt="">
        <div class="overlay">
           <h2>Hover effect 1</h2>
           <a class="info" href="#">link here</a>
        </div>
    </div>
</div> -->

</html>

{% endblock %}